<h3>Ember WebRTC Audio Waveform Visualizer</h3>
<h4>Make sure to visit this demo on https (or localhost) and allow the use of the microphone when prompted</h4>
{{audio-visualizer audioStream=audioStream}}

{{outlet}}
